.wrapper{
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
}

.navigator{
    margin-top: 0px;
    height: 35px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigator ul{
    position: absolute;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 49px;
    font-family: 'Roboto';
    font-size: 14px;
    color: black;
}

.navigator ul li{
    float: left;
    display: inline;
}

.navigator ul li a{
    display: block;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
}

.navigator ul li a:hover{
    background-color: #C3E0E5;
}

.content{
    height: 508px;
    margin: 0px;
    padding: 50px;
}

.content .cont-1{
    float: left;
    width: 50%;
}

.content .cont-1 p{
    font-family: 'Roboto';
    padding: 40px 40px 141px 149px;
}

.content .cont-2{
    float: right;
    width: 50%;
}

.content .cont-2 img{
    width: 434px;
    height: 434px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 41px;
    padding-bottom: 41px;
}

.AboutUs{
    height: 418px;
    background: #5885AF;
}

.AboutUs .title{
    padding-top: 50px;
    padding-left: 93px;
    color: white;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
}

.pict{
    width: auto;
    height: 100px;
    padding: 60px 193px 86px 172px ;
    font-family: 'Roboto';
    font-size: 12px;
    color: white;
}

.pict .pict-1{
    float: left;
    width: 258px;
    height: 190px;
    margin-right: 150px;
}

.pict .pict-2{
    float: left;
    width: 258px;
    height: 190px;
}

.pict .pict-3{
    float: right;
    width: 258px;
    height: 190px;
}

.pict img{
    width: 100px;
    height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}