  .container{
    width : auto;
    height : 55px;
    background : #5885AF;
    display: block;
    margin: 0px;
  }

  .container .logo .logo-text{
    text-align: left;
    vertical-align: middle;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    color: white;
    padding-left: 150px;
    float: left;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 13px;
    width: 150px;
  }

   .container.button-side{
      padding-right: 150px;
      justify-content: right;
      float: right;
  }

   .container .button-side a{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 13px;
    display: inline-block;
    align-items: center;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    left: 1159px;
    border: solid 1px white;
    border-radius: 2px;
  }

  .container .menu{
    width : auto;
    height : 35px;
    background : white;
    display: block;
    margin: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
  }

  .container .menu ul{
    position: absolute;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 49px;
    font-family: 'Roboto';
    font-size: 14px;
    color: black;
  }

  .container .menu ul li{
    float: left;
    display: inline;
  }

  .container .menu ul li a{
    display: block;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
  }

  .navigator{
    margin-top: 0px;
    height: 35px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigator ul{
    position: absolute;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 49px;
    font-family: 'Roboto';
    font-size: 14px;
    color: black;
}

.navigator ul li{
    float: left;
    display: inline;
}

.navigator ul li a{
    display: block;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
}

.navigator ul li a:hover{
    background-color: #C3E0E5;
}

.content{
    height: 508px;
    margin: 0px;
    padding: 50px;
}

.content .cont-1{
    float: left;
    width: 50%;
}

.content .cont-1 p{
    font-family: 'Roboto';
    padding: 40px 40px 141px 149px;
}

.content .cont-2{
    float: right;
    width: 50%;
}

.content .cont-2 img{
    width: 434px;
    height: 434px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 41px;
    padding-bottom: 41px;
}

.AboutUs{
    height: 418px;
    background: #5885AF;
}

.footer {
  display: block;
  background-color: black;
  margin-top: 0;
  text-align: center;
  padding: 5px 32px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}