.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-image-1 {
  width: auto;
  height: 266px;
  margin: 50px auto 0 0;
}

.u-section-1 .u-text-1 {
  animation-duration: 100ms;
  margin: -233px 0 0 390px;
}

.u-section-1 .u-list-1 {
  width: 1023px;
  margin: 103px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-group-1 {
  width: 400px;
  box-shadow: 0 0 25px 0 rgba(128,128,128,0.8);
  background-image: none;
  min-height: 266px;
  height: auto;
  margin: 28px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-1 .u-text-2 {
  margin: 138px 0 0;
}

.u-section-1 .u-image-2 {
  width: 140px;
  height: 140px;
  margin: -250px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-group-2 {
  width: 400px;
  box-shadow: 0 0 25px 0 rgba(128,128,128,0.8);
  background-image: none;
  min-height: 266px;
  height: auto;
  margin: 28px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 29px 30px;
}

.u-section-1 .u-text-3 {
  margin: 138px 0 0;
}

.u-section-1 .u-image-3 {
  width: 140px;
  height: 140px;
  margin: -250px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -273px;
    margin-left: 405px;
  }

  .u-section-1 .u-list-1 {
    width: 890px;
    margin-top: 160px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 313px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -283px;
    margin-left: 380px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 93px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 641px;
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    width: 491px;
    min-height: 269px;
    margin-top: 26px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    width: 491px;
    min-height: 269px;
    margin-top: 26px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 159px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 460px;
    min-height: 233px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 18px 10px;
  }

  .u-section-1 .u-group-2 {
    width: 460px;
    min-height: 233px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 18px 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 128px;
    margin-bottom: -12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1330px;
  }

  .u-section-1 .u-image-1 {
    width: 252px;
    height: 248px;
    margin-top: 37px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 44px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 37px;
    margin-top: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 140px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -250px;
  }

  .u-section-1 .u-group-2 {
    min-height: 246px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 140px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -250px;
  }
}