body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}
.header {
  display: block;
  background-color: tomato;
}
.footer {
  display: block;
  background-color: black;
  margin-top: 0;
  padding: 0.3rem 2rem;
  text-align: center;
}
.container {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700;900&display=swap");
.logo-text {
  text-align: left;
  vertical-align: middle;
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.text-ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.logo {
  margin-left: 1rem;
  width: 75%;
  max-height: 6rem;
}
.inner-nav {
  flex: 1;
  justify-content: center;
  align-items: center;
}
.u-header {
  min-width: auto;
  margin-top: auto;
  background-color: white;
  display: flex;
}
.button-side {
  margin-right: 0;
  justify-content: right;
  margin-right: 1rem;
}
.button-side a {
  text-align: center;
  font-weight: bold;
  color: white;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  padding-right: 0.5rem; padding-left: 00.5rem;
}
.row {
  background-color: yellow;
  display: flex;
  width: auto;
  text-align: right;
}

nav {
  width: auto;
  display: block;
  align-items: center;
  margin: 0;
  padding: 0 2rem;
}
nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 2px;
}

nav a {
  color: black;
  text-decoration: none;
  margin-left: 0.5rem;
}

nav a.active {
  color: #2b67a0;
}
.nav-menu {
  background-color: rgb(237, 233, 255);
}
.menu a {
  font-weight: bold;
  padding: 10px 15px;
}
.row {
  align-items: flex-start;
  margin: auto;
}
.col {
  flex: initial;
}
.display-image {
  display: flex;
  width: auto;
  height: 250px;
  border-radius: 30px;
  float: left;
  margin: 2rem;
}
.rich-text {
  display: flex ;
  margin: 2rem;
  height: 250px;
}
.rich-text .text-box {
  display: block;
  padding: 2rem;
}
.background-image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 0;
}
.main-body {
  display: block;
  flex: 2;
  margin-bottom: 0;
}


/* warna */
.u-base-color {
  background-color: #4c7397;
}
.light-text {
  color: white;
}
.dark-text {
  color: black;
}